<div fxFill>
  <!-- Tela de pesquisa -->
  <div layout="column" layout-fill *ngIf="!onEdit">
    <div align="center" layout="row" fxLayoutAlign="center center">
      <mat-card class="info-card mat-elecation-z8" flex="80"style="margin-top: 10; width: 90%">
        <mat-card-title>

        </mat-card-title>  
        <mat-card-subtitle>

        </mat-card-subtitle>
        
        <mat-card-content fxLayout="column" fxLayoutAlign="stretch">
          <!--Filtros -->
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start">
            <mat-form-field fxFlex="30" >  
              <input matInput type="text" 
                class="form-control" value="" placeholder="Pesquisar por Login" [formControl]="login"
                (keyup)="filterApeluser($event)">
            </mat-form-field> 
            <mat-form-field fxFlex="30">
              <input matInput type="text" 
                class="form-control" value="" placeholder="Pesquisar por Nome" [formControl]="nome"
                (keyup)="filterName($event)">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="novo()"><mat-icon>add</mat-icon>Novo Usuário</button> 
          </div>
          <!--grid-->
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start">
            <mat-divider></mat-divider>
            <table mat-table  [dataSource]="usuarios$ | async" style="width: 100%">
              <ng-container matColumnDef="login">
                <th mat-header-cell *matHeaderCellDef>Login</th>
                <td mat-cell *matCellDef="let element">{{element.apeluser}}</td>
              </ng-container>
              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let element">{{element.nome}}</td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
              </ng-container>
              <ng-container matColumnDef="cidade">
                <th mat-header-cell *matHeaderCellDef>Cidade</th>
                <td mat-cell *matCellDef="let element">{{element.cidade}}</td>
              </ng-container>
               <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> 
                  <button mat-button color="primary" (click)="edit(element)"><mat-icon>editar</mat-icon> </button>
                  <button mat-button color="accent"  (click)="del(element)"><mat-icon>delete</mat-icon> </button>
                </td>
              </ng-container> 
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
            </table>

          </div>

        </mat-card-content>
      </mat-card>
    </div>
    
    
  </div>
  <!-- tela de edição -->
  <div layout="column" layout-fill *ngIf="onEdit">
    <div align="center" layout="row" layout-align="center center">
      <mat-card class="info-card mat-elecation-z8" flex="80" style="margin-top: 60px; width: 800px;">
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content fxLayout="column" fxLayoutAlign="stretch">
          <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" fxLayout="column"
          fxLayoutAlign="space-around stretch">
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start">
              <mat-form-field fxFlex="30">
                <input matInput type="text" autocomplete="off" formControlName="apeluser"  
                  placeholder="Informe o Login">
                  <mat-error *ngIf="usuarioForm.controls.apeluser.hasError('required')">
                    Por favor informe o login
                  </mat-error>
                  <mat-error *ngIf="usuarioForm.controls.apeluser.hasError('minlength')">
                    Por favor informe no mínimo 3 letras
                  </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="65">
                <input matInput type="text" autocomplete="off" formControlName="nome"  
                  placeholder="Informe o Nome"  >
                  <mat-error *ngIf="usuarioForm.controls.nome.hasError('required')">
                    Por favor informe o Nome
                  </mat-error>
                  <mat-error *ngIf="usuarioForm.controls.nome.hasError('minlength')">
                    Por favor informe no mínimo 3 letras
                  </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start">
        
                <mat-form-field fxFlex="35">
                <mat-select placeholder="instituicao" formControlName="id_instituicao"  >
                  <mat-option *ngFor="let s of instituicoes" [value]="s.id">
                    {{s.razao}}
                  </mat-option>                  
                </mat-select>
                <mat-error *ngIf="usuarioForm.controls.id_instituicao.hasError('required')">
                  Por favor informe a Instiuição do Usuário
                </mat-error>
              </mat-form-field>  
              <mat-form-field fxFlex="30">
                <input matInput type="text" autocomplete="off" formControlName="telefone"  
                  placeholder="Informe a Telefone">
                  <mat-error *ngIf="usuarioForm.controls.telefone.hasError('required')">
                    Por favor informe o Telefone
                  </mat-error>
              </mat-form-field>            
              <mat-form-field fxFlex="30">
                <input matInput type="text" autocomplete="off" formControlName="cidade"  
                  placeholder="Informe a Cidade">
                  <mat-error *ngIf="usuarioForm.controls.cidade.hasError('required')">
                    Por favor informe a Cidade
                  </mat-error>
                  <mat-error *ngIf="usuarioForm.controls.cidade.hasError('minlength')">
                    Por favor informe no mínimo 3 letras
                  </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start">
              
              <mat-form-field fxFlex="50">
                <input matInput type="text" autocomplete="off" formControlName="endereco"  
                  placeholder="Informe o Endereço">
                  <mat-error *ngIf="usuarioForm.controls.endereco.hasError('required')">
                    Por favor informe o Endereço
                  </mat-error>
                  <mat-error *ngIf="usuarioForm.controls.endereco.hasError('minlength')">
                    Por favor informe no mínimo 3 letras
                  </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="30">
                <input matInput type="text" autocomplete="off" formControlName="bairro"  
                  placeholder="Informe o Bairro">
                  <mat-error *ngIf="usuarioForm.controls.bairro.hasError('required')">
                    Por favor informe o Bairro
                  </mat-error>
                  <mat-error *ngIf="usuarioForm.controls.bairro.hasError('minlength')">
                    Por favor informe no mínimo 3 letras
                  </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="15">
                <input matInput type="number" autocomplete="off" formControlName="numero"  
                  placeholder="Informe o Número">
                  <mat-error *ngIf="usuarioForm.controls.numero.hasError('required')">
                    Por favor informe o Endereço
                  </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start">
              <mat-form-field fxFlex="50">
                <input matInput type="email" autocomplete="off" formControlName="email"  
                  placeholder="Informe o Email">
                  <mat-error *ngIf="usuarioForm.controls.email.hasError('required')">
                    Por favor informe o Email
                  </mat-error>
                  <mat-error *ngIf="usuarioForm.controls.email.hasError('email')">
                    Por favor informe email Válido
                  </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="25">
                <input matInput type="number" autocomplete="off" formControlName="cpf"  
                  placeholder="Informe o CPF">
                  <mat-error *ngIf="usuarioForm.controls.cpf.hasError('required')">
                    Por favor informe o cpf
                  </mat-error>
              </mat-form-field>              
              <mat-form-field fxFlex="20">
                  <input matInput [matDatepicker]="picker" placeholder="Data Nascimento" formControlName="nascimento">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="usuarioForm.controls.nascimento.hasError('required')">
                    Por favor informe a Data de Nascimento
                  </mat-error>          
              </mat-form-field>
            </div>
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start">
              <mat-form-field fxFlex="25">
                <input matInput type="password"  formControlName="senha"  
                  placeholder="Informe a senha">
                  <mat-error *ngIf="usuarioForm.controls.senha.hasError('required')">
                    Por favor informe a Senha
                  </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
                <button  mat-button color="primary"  type="submit" [disabled]="!usuarioForm.valid">Salvar</button>          
                <button mat-button color="warn"  (click)="cancel()">Cancel</button>
            </div>  
          </form>
        </mat-card-content>      
      </mat-card>
    </div>    
  </div>
</div>