
<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <span>Allclinic</span>
  <span></span>
  <div fxLayoutGap="20px">
    <a mat-raised-button routerLink="instituicao" routerLinkActive="mat-accent">Instituição</a>
    <a mat-raised-button routerLink="usuario" routerLinkActive="mat-accent">Usuario</a>
    <a mat-raised-button routerLink="farmaco" routerLinkActive="mat-accent">Farmaco</a>
    <a mat-raised-button routerLink="fabricante" routerLinkActive="mat-accent">Fabricante</a>
  </div>

  
 
</mat-toolbar>


<router-outlet>

</router-outlet>